@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";

/* custom CSS are here*/

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.bg-main-pink {
  background-color: #990085;
}

.bg-pink-90 {
  background-color: #47003E;
}

.bg-pink-80 {
  background-color: #700062;
}

.bg-gradient-pink {
  background: linear-gradient(to bottom, #C213AB, #990085);
}

.bg-main {
  background-color: #FEF7F9;
}

.main-border {
  border-color: #990085;
}

.pink-text {
    color: #990085;
}

.gray-text {
    color: #696969;
}


